In [44]:
import pandas as pd

Import raw file to clean

In [45]:
df = pd.read_csv("api_who_life_expectancy.csv")
df.head()

,Unnamed: 0,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,0,641,WHOSIS_000001,COUNTRY,SOM,EMR,YEAR,Eastern Mediterranean,SEX,SEX_MLE,...,NaN,48.0 [46.7-49.6],48.03754,46.71678,49.62846,NaN,2024-08-02T09:43:39.193+02:00,2008,2008-01-01T00:00:00+01:00,2008-12-31T00:00:00+01:00
1,1,779,WHOSIS_000001,COUNTRY,BTN,SEAR,YEAR,South-East Asia,SEX,SEX_BTSX,...,NaN,67.8 [67.1-68.6],67.84567,67.08312,68.55874,NaN,2024-08-02T09:43:39.193+02:00,2002,2002-01-01T00:00:00+01:00,2002-12-31T00:00:00+01:00
2,2,2707,WHOSIS_000001,COUNTRY,BHR,EMR,YEAR,Eastern Mediterranean,SEX,SEX_FMLE,...,NaN,75.2 [75.1-75.4],75.20536,75.05048,75.38518,NaN,2024-08-02T09:43:39.193+02:00,2011,2011-01-01T00:00:00+01:00,2011-12-31T00:00:00+01:00
3,3,5132,WHOSIS_000001,COUNTRY,SAU,EMR,YEAR,Eastern Mediterranean,SEX,SEX_FMLE,...,NaN,73.1 [72.8-73.5],73.12227,72.80645,73.47895,NaN,2024-08-02T09:43:39.193+02:00,2005,2005-01-01T00:00:00+01:00,2005-12-31T00:00:00+01:00
4,4,5353,WHOSIS_000001,COUNTRY,CYP,EUR,YEAR,Europe,SEX,SEX_MLE,...,NaN,76.9 [76.7-77.2],76.86013,76.67124,77.16348,NaN,2024-08-02T09:43:39.193+02:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00

In [46]:
df = df[(df["SpatialDim"]=="GBR") & (df["TimeDimensionValue"]==2021)]
df

,Unnamed: 0,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
2118,2118,1225582,WHOSIS_000001,COUNTRY,GBR,EUR,YEAR,Europe,SEX,SEX_BTSX,...,NaN,80.1 [80.1-80.2],80.10063,80.09616,80.17319,NaN,2024-08-02T09:43:39.193+02:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00
3249,3249,1859608,WHOSIS_000001,COUNTRY,GBR,EUR,YEAR,Europe,SEX,SEX_FMLE,...,NaN,81.9 [81.9-82.0],81.93071,81.92729,81.99830,NaN,2024-08-02T09:43:39.193+02:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00
9804,9804,5679823,WHOSIS_000001,COUNTRY,GBR,EUR,YEAR,Europe,SEX,SEX_MLE,...,NaN,78.3 [78.3-78.3],78.27425,78.26538,78.34553,NaN,2024-08-02T09:43:39.193+02:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00

Check what columns are there

In [47]:
df.columns

Index(['Unnamed: 0', 'Id', 'IndicatorCode', 'SpatialDimType', 'SpatialDim',
       'ParentLocationCode', 'TimeDimType', 'ParentLocation', 'Dim1Type',
       'Dim1', 'TimeDim', 'Dim2Type', 'Dim2', 'Dim3Type', 'Dim3',
       'DataSourceDimType', 'DataSourceDim', 'Value', 'NumericValue', 'Low',
       'High', 'Comments', 'Date', 'TimeDimensionValue', 'TimeDimensionBegin',
       'TimeDimensionEnd'],
      dtype='object')

Drop unnecessary columns

In [48]:
df = df.drop(['SpatialDimType', 'Id', 'IndicatorCode', 'Unnamed: 0', 'Low', 'High', 'Comments', 'TimeDimensionValue', 'TimeDimensionBegin', 'TimeDimensionEnd', 'Dim2Type', 'Dim2', 'Dim3Type', 'Dim3',
       'DataSourceDimType', 'DataSourceDim', 'TimeDimType', 'Dim1Type', 'Value', 'Date', 'ParentLocationCode', 'ParentLocation'], axis=1)
#df = df[df["TimeDim"]==2017]
#df = df[df["Dim1"] != "SEX_BTSX"]

In [49]:
df = df.drop(["TimeDim"], axis=1)

Rename columns to be more readable

In [50]:
df["Dim1"] = df["Dim1"].replace("SEX_MLE", "Male")
df["Dim1"] = df["Dim1"].replace("SEX_FMLE", "Female")
df["Dim1"] = df["Dim1"].replace("SEX_BTSX", "Both Sexes")

In [51]:
df =df.rename(columns={"SpatialDim":"Country", "Dim1":"Sex", "NumericValue":"LifeExpectancy"})

In [52]:
df

     Country         Sex  LifeExpectancy
2118     GBR  Both Sexes        80.10063
3249     GBR      Female        81.93071
9804     GBR        Male        78.27425

Export the clean data to csv

In [53]:
df.to_csv("who_life_expectancy_gbr_cleaned.csv", index=False)