In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("OECD.ELS.SPD,DSD_PAG@DF_DPS,1.0+all.csv")
df.head(5)

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,...,TIME_PERIOD,Time period,OBS_VALUE,Observation value,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,DECIMALS,Decimals
0,DATAFLOW,OECD.ELS.SPD:DSD_PAG@DF_DPS(1.0),Design of pension systems,I,SWE,Sweden,A,Annual,FRPLF22,Future retirement age for a person who entered...,...,2022,NaN,70.0,NaN,A,Normal value,0,Units,1,One
1,DATAFLOW,OECD.ELS.SPD:DSD_PAG@DF_DPS(1.0),Design of pension systems,I,CAN,Canada,A,Annual,CRPLF22,Current retirement age for a person who entere...,...,2022,NaN,65.0,NaN,A,Normal value,0,Units,1,One
2,DATAFLOW,OECD.ELS.SPD:DSD_PAG@DF_DPS(1.0),Design of pension systems,I,CAN,Canada,A,Annual,FRPLF22,Future retirement age for a person who entered...,...,2022,NaN,65.0,NaN,A,Normal value,0,Units,1,One
3,DATAFLOW,OECD.ELS.SPD:DSD_PAG@DF_DPS(1.0),Design of pension systems,I,BEL,Belgium,A,Annual,FRPLF22,Future retirement age for a person who entered...,...,2022,NaN,67.0,NaN,A,Normal value,0,Units,1,One
4,DATAFLOW,OECD.ELS.SPD:DSD_PAG@DF_DPS(1.0),Design of pension systems,I,BEL,Belgium,A,Annual,CRPLF22,Current retirement age for a person who entere...,...,2022,NaN,65.0,NaN,A,Normal value,0,Units,1,One

In [39]:
df = df[df["REF_AREA"] == "GBR"]

In [40]:
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'SEX', 'Sex', 'AGE',
       'Age', 'OPTIONALITY', 'Optionality', 'TIME_PERIOD', 'Time period',
       'OBS_VALUE', 'Observation value', 'OBS_STATUS', 'Observation status',
       'UNIT_MULT', 'Unit multiplier', 'DECIMALS', 'Decimals'],
      dtype='object')

In [41]:
#df = df[df["MEASURE"] == "CRPLF22"]

In [42]:
df = df.drop(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ', 'Frequency of observation', 'UNIT_MEASURE', 'Unit of measure', 'SEX', 'AGE',
       'Age', 'OPTIONALITY', 'Optionality', 'Time period', 'OBS_STATUS', 'Observation status', 'Observation value', 'TIME_PERIOD',
       'UNIT_MULT', 'Unit multiplier', 'DECIMALS', 'Decimals', "Measure"], axis=1)

In [43]:
df.head()

    REF_AREA  Reference area  MEASURE     Sex  OBS_VALUE
148      GBR  United Kingdom  CRPLF22    Male       66.0
149      GBR  United Kingdom  CRPLF22  Female       66.0
150      GBR  United Kingdom  FRPLF22    Male       67.0
188      GBR  United Kingdom  FRPLF22  Female       67.0

In [44]:
df = df.rename(columns={"Reference area":"Country Name", "REF_AREA":"Country Code", "OBS_VALUE":"Retirement Age"})
df

    Country Code    Country Name  MEASURE     Sex  Retirement Age
148          GBR  United Kingdom  CRPLF22    Male            66.0
149          GBR  United Kingdom  CRPLF22  Female            66.0
150          GBR  United Kingdom  FRPLF22    Male            67.0
188          GBR  United Kingdom  FRPLF22  Female            67.0

In [45]:
df.to_csv("OECD_retirement_age_gbr_cleaned.csv", index=False)